{% extends 'base.html' %}

{% block title%}
About Page
{% endblock %}

{% block content %}
<style>
    div h1{
        padding: 10px;
        color: #f00;
        text-align: center;
        font-family: 'New Times Roman';
    }
    div a{
        text-decoration: none;
        color: #459;
    }

</style>
<div><H1>This is about the page!</H1></div>
<div>作者姓名：谭熙康</div>
<div>作者邮箱：tanxik@vip.163.com</div>
<div><a href="https://github.com/tanxikang/web">Github仓库：https://github.com/tanxikang/web</a></div>
{% endblock %}